body {
  height: 100% !important;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  background-color: #3f51b5;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../hills-material-design-wallpaper.png);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: light;
}
html {
  min-height: 100%;
}
header {
  padding: 0.5rem;
  color: white;
}

main {
  height: auto;
}

footer {
  background-color: aqua;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: system-ui, sans-serif;
}

p {
  margin: 0;
  /* word-break: break-all; */
}

.inputWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.w {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
}
.inputSumbit {
  background-color: #ffbb62;
}

input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin-bottom: 2px !important;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
}

.cards {
  display: flex;
  /* grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
 */
  flex-wrap: wrap;
  /* place-items: center; */
  height: 100%;
  flex-direction: column;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 20px;
  /* overflow: hidden; */
  /* width: 1000px; */
  display: grid;
  grid-template-columns: minmax(250px, 25%) 1fr;
  max-width: 1000px;
}

.card h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.card-preview {
  background-color: #2a265f;
  color: #fff;

  padding: 30px;
  /* width: 200px; */
}

.card-preview a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.card-info {
  padding: 30px;
  position: relative;
}
.btn {
  background-color: #2a265f;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  margin-right: 5px;
  letter-spacing: 1px;
}

.btnWrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: -20px;
  right: 20px;
}
.sumbitWrapper {
  margin-top: 20px;
}

@media screen and (max-width: 980px) {
  .card {
    display: flex;
    flex-direction: column;
  }
  .inputWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
